<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lat Long Simulator</title>
</head>
<body>
    <div id="app" style="width: calc( 100vw - 30px );height: calc( 100vh - 30px );">
        <div style="width: 100vw;height: 100vh;position: fixed;left: 0px;top: 0px;z-index: 9999;background: #000000a1;color: #fff;font-size: 2rem;text-align: center;display: flex;justify-content: center;align-items: center;font-weight: bold;" v-show="paused">
            <div>
                <p>Paused</p>
                <p>Press <kbd>Esc</kbd> to Resume</p>
            </div>
        </div>
        <div style="position: fixed;right: 0px;top: 0px;width: 500px;z-index: 999;">
            <input type="text" readonly v-model="link" style="width: calc( 100% - 150px );text-align: center;">
            <select name="speed" v-model="speed">
                <option value="5">18 kph</option>
                <option value="10">36 kph</option>
                <option value="14">50 kph</option>
                <option value="20">72 kph</option>
                <option value="28">100 kph</option>
            </select>
        </div>
        <div id="map" style="width: 100%;height: 100%;"></div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/@googlemaps/js-api-loader/dist/index.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    ip: 'http://localhost:8888',
                    name: "default",
                    google: null,
                    map: null,
                    marker: null,
                    target: null,
                    reached: false,
                    speed: 5,
                    paused: false
                }
            },
            computed:{
                link(){
                    return `${this.ip}/${this.name}`
                }
            },
            async created(){
                const res=await fetch(`/ip`, {
                    method: 'PATCH',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });
                const content = await res.json();
                this.ip=content.ip;

                let key = localStorage.getItem('apikey');
                if(!key) {
                    key=prompt('Enter Google API Key');
                    if(!key){
                        alert("Error: API key needed");
                        throw new Error('API key needed');
                    }
                    localStorage.setItem("apikey",key);
                }

                const loader = new google.maps.plugins.loader.Loader({
                    apiKey: key,
                    version: "weekly",
                    // libraries: ["places"]
                });
                this.google=await loader.load();
                this.getBrowserLocation();
            },
            methods:{
                initiate(lat,lng){
                    if(this.map) return;
                    const myLatLng = { lat, lng };
                    this.map=new this.google.maps.Map(document.getElementById("map"), {
                        center: myLatLng,
                        zoom: 16
                    });
                    this.marker = new this.google.maps.Marker({
                        position: myLatLng,
                        map: this.map,
                        optimized: false,
                        icon: {
                            url: "https://www.geocodezip.net/mapIcons/SO_20170925_multiplePaths_mod.svg",
                            anchor: new this.google.maps.Point(39, 60),
                            size: new this.google.maps.Size(150, 150)
                        },
                    });

                    this.map.addListener("click", (mapsMouseEvent) => {
                        this.moveMarker({lat: mapsMouseEvent.latLng.lat(), lng: mapsMouseEvent.latLng.lng()});
                        if(this.reached && this.target){
                            this.reached = false;
                            this.moveTowards();
                        }
                    });
                    this.map.addListener("contextmenu", (mapsMouseEvent) => {
                        this.setTarget({lat: mapsMouseEvent.latLng.lat(), lng: mapsMouseEvent.latLng.lng()});
                    });

                    window.addEventListener('keyup', e => {
                        const code = (e.keyCode ? e.keyCode : e.which);
                        if(code == 27){
                            if(this.reached) return;
                            this.paused = !this.paused;
                        }
                    });
                    // window.addEventListener('keydown', e => {
                    //     const code = (e.keyCode ? e.keyCode : e.which);
                    //     if(code==38){//up
                    //         this.moveMarker(this.move(this.marker.getPosition(),0,0.001));
                    //     }else if(code==40){//down
                    //         this.moveMarker(this.move(this.marker.getPosition(),180,0.001));
                    //     }else if(code==37){//left
                    //         this.moveMarker(this.move(this.marker.getPosition(),270,0.001));
                    //     }else if(code==39){//right
                    //         this.moveMarker(this.move(this.marker.getPosition(),90,0.001));
                    //     }
                    //     e.stopPropagation();
                    // },true);
                },
                getBrowserLocation(){
                    navigator.geolocation.getCurrentPosition(pos=>{
                        if(pos && pos.coords){
                            this.initiate(pos.coords.latitude,pos.coords.longitude);
                        }else{
                            this.initiate(22.5957923,88.4054378);
                        }
                    }, err => {
                        console.warn(`ERROR(${err.code}): ${err.message}`);
                        this.initiate(22.5957923,88.4054378);
                    }, {
                        enableHighAccuracy: true,
                        timeout: 5000,
                        maximumAge: 0
                    });
                },
                moveTowards(){
                    if(this.paused){
                        setTimeout(()=>{
                            this.moveTowards();
                        }, 500);
                        return;
                    }
                    if(this.marker && this.target){
                        if(this.reached) return;

                        const sourcePos=this.marker.getPosition();
                        const destPos=this.target.getPosition();
                        const srcLat = sourcePos.lat();
                        const srcLng = sourcePos.lng();
                        const dstLat = destPos.lat();
                        const dstLng = destPos.lng();

                        const R = 6371; // km
                        const dLat = (dstLat-srcLat)* Math.PI / 180;
                        const dLon = (dstLng-srcLng)* Math.PI / 180;

                        const lat1 = srcLat * Math.PI / 180;
                        const lat2 = dstLat * Math.PI / 180;

                        const a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                            Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); 
                        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
                        const distInKm = R * c;

                        const curSpeed = (Number(this.speed) || 5 ) * 0.001;
                        if(distInKm > ( 2 * curSpeed )){//10 meters
                            startLat = lat1;
                            startLng = srcLng * Math.PI / 180;
                            destLat = lat2;
                            destLngR = dstLng * Math.PI / 180;

                            y = Math.sin(destLngR - startLng) * Math.cos(destLat);
                            x = Math.cos(startLat) * Math.sin(destLat) -
                                    Math.sin(startLat) * Math.cos(destLat) * Math.cos(destLngR - startLng);
                            const bearing = ((Math.atan2(y, x) * 180 / Math.PI) + 360) % 360;

                            this.moveMarker(this.move(this.marker.getPosition(),bearing, curSpeed),bearing);

                            setTimeout(()=>{
                                this.moveTowards();
                            }, 500);
                        }else{
                            this.reached = true;

                        }
                    }
                },
                setTarget(pos){
                    if(this.target){
                        this.target.setPosition(pos);
                    }else{
                        this.target=new this.google.maps.Marker({
                            position: pos,
                            map: this.map,
                            icon: {
                                path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
                                fillColor: "red",
                                fillOpacity: 0.8,
                                strokeWeight: 0,
                                rotation: 0,
                                scale: 2,
                                anchor: new this.google.maps.Point(15, 25),
                            },
                        });
                    }
                    this.reached = false;
                    this.moveTowards();
                },
                async moveMarker(pos,bearing){
                    if(pos) {
                        this.marker.setPosition(pos);
                        if(bearing !== undefined){
                            const img=document.querySelector("img[src='https://www.geocodezip.net/mapIcons/SO_20170925_multiplePaths_mod.svg']");
                            if(img) img.style.transform = 'rotate(' + bearing + 'deg)';
                        }
                        await fetch(`/${this.name}`, {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                coords: {
                                    altitude: null,
                                    altitudeAccuracy: null,
                                    latitude: pos.lat,
                                    longitude: pos.lng,
                                    accuracy: 10,
                                    speed: Number(this.speed),
                                    heading: bearing || null
                                },
                                timestamp: Date.now()
                            })
                        });
                    }
                },
                move(pos, brng, dist){
                    dist = dist / 6371;  
                    brng = brng * Math.PI / 180;  

                    const lat1 = pos.lat() * Math.PI / 180;
                    const lon1 = pos.lng() * Math.PI / 180;

                    const lat2 = Math.asin(Math.sin(lat1) * Math.cos(dist) + 
                                            Math.cos(lat1) * Math.sin(dist) * Math.cos(brng));

                    const lon2 = lon1 + Math.atan2(Math.sin(brng) * Math.sin(dist) *
                                                    Math.cos(lat1), 
                                                    Math.cos(dist) - Math.sin(lat1) *
                                                    Math.sin(lat2));

                    if (isNaN(lat2) || isNaN(lon2)) return null;

                    return { lat: lat2 * 180 / Math.PI, lng: lon2 * 180 / Math.PI };
                }
            }
        }).mount('#app')
    </script>
</body>
</html>